#outer {
      background: #add8e6 url(../multimedia/sunrise.jpeg) no-repeat center;
      /* filter: opacity(100%); */
      background-size: cover;
      display: flex;
      justify-content: center;
      height: 400px;
      width: 400px;

}

#inner {
background-color: chocolate;
backdrop-filter: sepia(80%);
padding: 20px;
margin: auto;
font-weight: bold;
}